<% var aboutData = site.data.about; %>
<%- partial('pagenav', {nav_head: __('current_page') + __('page_name.categories'), partial_path: 'post/category', archive_html: null}) %>
<article>
    <div class="card">
        <div class="card-content">
            <% if (item.photos && item.photos.length) { %>
                <%- partial('post/gallery') %>
            <% } %>

            <div class="article-title">
                <%- partial('post/title') %>
            </div>
            <%- partial('post/time') %>
            <%- partial('post/readtimes') %>
            <%- partial('post/tag') %>
            <%- partial('post/tablecontents') %>

            <div class="entry <%= theme.color.link %>-link-context">
                <%- item.content %>
                <%- partial('post/prevnext') %>
            </div>

            <% if (aboutData.reward && aboutData.reward.length > 0) { %>
                <div class="rewardStyle">
                    <section class="reward">
                        <%- partial('_partial/plugin/reward') %>
                    </section>
                </div>    
            <% } %>
            
			<% if (theme.atricle_footer_copyright) { %>
                <%- partial('post/copyright') %>
            <% } %>
        </div>
    </div>
</article>

<%- partial('plugin/comment') %>
